@model IEnumerable<Pharma.Web.Models.ProductCategoryViewModel>

<div class="flex-shrink-0 bg-white" style="width: 320px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap" /></svg>
        <span class="fs-5 text-uppercase fw-bold">Loại Dược phẩm</span>
    </a>
    <ul class="list-unstyled p-0">
        @foreach (var category in Model.Where(x => x.ParentID == null))
        {
            var url = "/" + category.Alias + ".pc-" + category.ID + ".html";
            var childCategories = Model.Where(x => x.ParentID == category.ID);
        <li class="mb-1 text-left">
            @if (childCategories.Count() > 0)
            {
                <a href="@url" class="btn btn-toggle rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#@category.Alias" aria-expanded="false">
                    @category.Name
                </a>
                <div class="collapse" id="@category.Alias">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        @foreach (var childCategory in childCategories)
                        {
                            var childUrl = "/" + childCategory.Alias + ".pc-" + childCategory.ID + ".html";
                            <li>
                                <a href="@childUrl" class="link-dark d-inline-flex text-decoration-none rounded">@childCategory.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <a href="@url" class="btn rounded border-0">
                    @category.Name
                </a>
            }
        </li>
        }
        <li class="border-top my-3"></li>
    </ul>
</div>